body{
    direction: rtl;
    margin:0;
    height: 90vh;
}
.table{
    height: 60vh;
    overflow-y: scroll;
    z-index: -1;
}
.my-container{
    margin: 40px 82px;
}
.titr{
    height: 10vh;
}
.my-border{
    border-radius: 1rem;
    border: .2rem solid #ff00ff;
}
.img-food img{
    width: 10rem;
    border-radius: 50%;
}
.final{
    height: 30vh;
    overflow: hidden;
    background-color: white;
}