@font-face{
    font-family: yekan;
    src: url(./Yekan.ttf) format('truetype');
}
body{
    direction: rtl;
    margin:0;
    font-family: 'yekan';
}
input{
    font-family: yekan;
}
input:focus , button:focus{
    outline: none;
}
.middle{
    height: 60vh;
    overflow-y: scroll;
    z-index: -1;
}
::-webkit-scrollbar{
    display: none
}
.my-container{
    margin: 40px 82px;
    height: 90vh;
}
.titr{
    height: 10vh;
    box-shadow: 0 1px 10px rgba(200, 200, 200, 0.3);
    box-sizing: border-box;
    z-index: -1;
}
.my-border{
    border-radius: 3rem;
    border: .5rem solid gold;
    z-index: 1000;
    box-sizing: border-box;
}
.img-food img{
    width: 8rem;
    border-radius: 50%;
}
.final{
    height: 20vh;
    overflow: hidden;
    background-color: white;
    box-sizing: border-box;
}
.final p{
    font-size: 1.1rem;
    font-weight: 700;
    color: #444;
}
.finaly-price p , .finaly-price span{
    font-size: 2.5rem;
    font-weight: 900;
    color: #222;
    margin-right: .5rem;
}
.input-discount input{
    margin-top: 3rem;
    border: .1rem solid orangered;
    border-radius: 2rem;
    padding: .5rem 0;
    padding-right: 1rem;
}
.input-discount input::placeholder{
    
    font-size: 1.5rem;
    font-weight: 700;
    color: orange;
}
.change-placeholder::placeholder{
    color: black;
}
.plus-btn{
    position: absolute;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    top: 60%;
    left: 2%;
    background-color: orangered;
    border-radius: 50%;
    border: none;
    width: 1.7rem;
}
.my-btn{
    height: 4.5rem;
    border-radius: 1rem;
    background-color: orange;
    margin-top: 1rem;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}





input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}


.my-border-bottom,
#chize,
#doble,
#perfect,
#special{
    border-bottom: .1rem solid #aaa;
}
/* .number-input {
    border: 2px solid #ddd;
    display: inline-flex;
} */
  
/* .number-input,
.number-input * {
    box-sizing: border-box;
}
   */
.number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    height: 1rem;
    cursor: pointer;
    margin: 0;
    position: relative;
}
  
.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: .7rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
}
.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}
  
.number-input input[type=number] {
    font-family: sans-serif;
    max-width: 5rem;
    border: none;
    font-size: 2rem;
    height: 3rem;
    font-weight: bold;
    text-align: left;
    width: 2.5rem;
    background-color: transparent;
}